.vscode/settings.json
lab1/basesim.exe
lab1/sim.exe
lab1/inputs/benchmarking/bm2/*
lab1/inputs/benchmarking/bm1/*
lab1/inputs/benchmarking/bm3/*
lab1/sim
lab1/task_2/associativity.png
lab1/task_2/blocksize.png
lab1/task_2/cachesize.png
lab1/task_2/exemple_benchmark.png
lab1/inputs/benchmarking/associativity.png
lab1/inputs/benchmarking/blocksize.png
lab1/inputs/benchmarking/cachesize.png
lab1/handin/*
lab1/lab1_guillaume_thivolet.zip
lab1/task_2/report_gthi.pdf
lab1/task_2/example_benchmark.png
lab2/inputs/benchmarking/*/*.s
lab2/inputs/benchmarking/*/*.x
*.trace
lab2/todo.txt
lab3/obj/*
lab3/ramulator
lab3/*.stats
*.xz
Lab4/LICENSE
Lab4/Readme.old
Lab4/bin
Lab4/obj
lab2/*.exe
.vscode/launch.json
